
<div>
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav">
                <h4>FreeClassifieds.com</h4>
                <ul class="nav nav-pills nav-stacked" bs-active-link>
                    <li>@Html.ActionLink("Home","Index","Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("PostAd", "PostAd", "Home")</li>
                    <li>@Html.ActionLink("Ads list", "AdsList", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul><br>
            </div>

            <div class="col-sm-9">
                <hr>
                <h2>Welcome to FreeClassifieds.com</h2>
                <h4><small>This is a BETA site</small></h4>
                <hr>

                <br><br>
                <p>
                    FreeClassifieds.com is a free classified ads website for cars, jobs, real estate, and everything else. Find what you're looking for or create your own ad for free! Unlike many other classified ads websites, FreeClassifieds.com is 100% free to use. Free to post an ad, free to browse listings, free to contact sellers. We invest a great deal of time and effort in monitoring and filtering the content posted to the website, so you can be confident that you'll find only quality, relevant listings. Our goal at FreeClassifieds.com is to make it as easy as possible to buy or sell anything.
                </p>
                <br>
                <p>
                    FreeClassifieds.com is a free classified ads website for cars, jobs, real estate, and everything else. Find what you're looking for or create your own ad for free! Unlike many other classified ads websites, FreeClassifieds.com is 100% free to use. Free to post an ad, free to browse listings, free to contact sellers. We invest a great deal of time and effort in monitoring and filtering the content posted to the website, so you can be confident that you'll find only quality, relevant listings. Our goal at FreeClassifieds.com is to make it as easy as possible to buy or sell anything.
                </p>
WAq
            </div>
        </div>
    </div>
</div>



